@font-face {
  font-family: "logo";
  src: url("./fonts/UnifrakturMaguntia-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poetsen One";
  src: url("./fonts/PoetsenOne-Regular.ttf") format("truetype");
}



@font-face {
  font-family: "nunito";
  src: url("./fonts/static/Nunito-ExtraBold.ttf");
  
}

body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  height: 100%;
  position: relative;
}

header {
  text-align: center;
  padding: 20px;
  background: #333;
  color: #fff;
  z-index: 99;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



a {
  color: white;
}


header h1 {
  font-family: nunito; 
  font-size: 2em;
}



.logo {
  display: flex;
  justify-content: center;
  gap: .25em;
  align-items: start;
  font-family: logo;
  font-weight: bolder;
}

.logo-letter {
  font-size: clamp(2rem, 10vw, 5rem); /* Adjust the min and max values as needed */
}

.tagline {
  font-size: clamp(1rem, 3vw, 3rem) !important; /* Adjust the min and max values as needed */
  position: relative;
}
.tagline::after {
  content: 'Web Solutions By DevServo';
  position: absolute;
  font-size: .5em;
  bottom: -100%;
  right: 2%;
  color: #070707;
  font: bold;
}



.btn-hero {
  font-size: 1.5em;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 .5em ;
  position: relative;
  width: 12em;
  animation: pulse 2s linear infinite ;
}

@keyframes pulse {
  0% { transform: scale(.95);}
  50%{transform: scale(1);}
  100% { transform: scale(.95);}
}

.btn-hero:hover {

  animation-play-state: paused;
  
}

.btn-hero::before {
  content: "";
  background-image: url("./img/click.svg");
  background-size: contain; /* Ensure image scales correctly */
  background-repeat: no-repeat; /* Prevent image repeat */
  position: absolute;
  top: 50%; /* Center vertically */
  left: 10px; /* Adjust horizontally */
  transform: translateY(-50%); /* Center image vertically */
  width: 40px;
  height: 40px;
  z-index: 1; /* Ensure it’s above other elements within button */
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

.hero-content {margin-bottom: 20vh;}

.scroll{
  margin-right: auto;
  position: relative;
  justify-self: flex-start !important;
  align-self: flex-end !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 1em;
  --border-height: 0;
  opacity: 0;
  font-size: .75em;
  font-style: italic;
}
.scroll::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: var(--border-height);
  background-color: white;
}

.scroll-2, .scroll-3,.scroll-4, .scroll-5  {
  margin-right: auto;
  position: relative;
  justify-self: flex-start !important;
  align-self: flex-end !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 1em;
  --border-height: 0;
  font-size: .75em;
  font-style: italic;
  margin-left: 2%;
  opacity: 0;
}

.scroll-3 {
  margin-top: 10vh;
}
.scroll-2::before, .scroll-3::before, .scroll-4::before, .scroll-5::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: var(--border-height);
  background-color: white;
}

/* Why US section  */


.reasons-headline {
  font-size: 2em;
  font-family: 'Poetsen One', sans-serif;
  margin-top: 2.5em;
}
.reasons-list {
  display: grid;
  gap: 1em;
  justify-items: center;
  align-items: center;
}

.reasons {
  border-radius: 10px;
  font-size: 1.2em; /* Adjusted for better readability */
  padding: 1em;
  color: #ffffff; /* Default text color for readability */
}


.reason-copy {
  text-align: center;
  padding: 0 1em;
  line-height: 2;
  word-spacing: 1.5;
  letter-spacing: 1.25;
  margin: 2vh 20vw;
  font-size: large;
}

.reasons:nth-child(1) {
  background-color: #f4b942; /* Bright Yellow */
}

.reasons:nth-child(2) {
  background-color: #FF5733; /* Vivid Red */
}

.reasons:nth-child(3) {
  background-color: #007BFF; /* Electric Blue */
}

.reasons:nth-child(4) {
  background-color: #32CD32; /* Lime Green */
}

.reasons:nth-child(5) {
  background-color: #ff61d7; /* Coral */
}



/* Service Sectiom Designs */

.service-headline {
  font-family: poetsen one;
  font-size: 2em;
}
.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: .2em 1em;
}
.service {

  border-radius: 10px;
  transform: translateY(10%);
  opacity: 0;
  padding: 0 .5em; 
  
}

.service:nth-child(1){
  background-color: #c0172d;
}

.service:nth-child(2){
  background-color: #6b5b95;
}
.service:nth-child(3){
  background-color: #45a29e;
}
.service:nth-child(4){
  background-color: #f4b942;
}

.about-me {
  background-color: #6b5b95;
  border-radius: 10px;
  padding: 1em;
  color: #ffffff;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: scale(.9) translateY(10%);
}

.about-me p {
  margin-bottom: 15px;
}
.about-me span {
  font-weight: bold;
  color: #f4b942;
}


/* portfolio designs */

.project-grid {
  display: flex;
  margin: 0 .5em;
  align-items: center;
  justify-items: center;
}



.project-card img {
  width: 75%;
  height: auto;
  border-radius: 5px;
  background-color: rgba(255, 255, 0, .15);  
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Adjust values as needed */
}

.project-card p {
  font-size: 1em;
}

.live-link {

  color: #f4b942;
  font-weight: bold;
  letter-spacing: 1.5;
}

.live-link:hover {
  color: rgb(0, 0, 0);
}


.design-gallery {
 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5em;

}
.design-item {
  width: 30vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.graphic-designs img {
  width: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 0, .15);  
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Adjust values as needed */
 
}


.graphic-designs h3 {
  color: black;
}






.main {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
}

.section {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
  opacity: 0;
  transform: scale(1.5);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.section.active {
  opacity: 1;
  transform: scale(1);
}



#hero {
  background: #c0172d;
}

#why-modern {
  background: #6b5b95;
}

#services {
  background: #88b04b;

}

#about {
  background: #f4b942;
}

#graphics {
  background: #188acc;
}

#portfolio {
  background: #45a29e;
}

.content {
  text-align: center;
  color: #fff;

}


.footer-content {
  max-width: 100vw;
  margin: 0 auto;
  padding-top: 10vh;
  color: white;
}

.footer-content a {
  color: white; /* Accent color for links */
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.contact {
  display: flex;
  justify-content: center;
  
}
.contact-form {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 75vw;
  height: 50vh;
  margin-left: 1em;
  margin-right: 1em;
  box-sizing: border-box;
  position: absolute;
  transform: translateY(-150%);
  z-index: 999999;
  transition: transform 1s ease; /* Corrected transition property */
}



.contact-form h2 {
  margin: 0 0 15px 0;
  color: #188acc;
}
.contact-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  background-color: white;
}
.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.contact-form button {
  background-color: #188acc;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}
.contact-form button:hover {
  background-color: #155a8a;
}

.close-btn {
  background-color: #cc1818;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin-top: .5em;
}

.formData {
  visibility: hidden;
}

@media (max-width: 820px) {

  .about-me {
    background-color: #6b5b95;
    border-radius: 10px;
    padding: 1em;
    color: #ffffff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 650px;
    margin: 20px auto;
  
  }
  
}

@media (max-width: 700px) {

  .reasons {
    font-size: 1.5em;
    padding: 1em;
  }
  
}
@media (max-width: 580px) {


  .design-item {
    width: 45vw;
  
  
  }

  .about-me {
    background-color: #6b5b95;
    border-radius: 10px;
    padding: .5em;
    color: #ffffff;
    font-family: Arial, sans-serif;
    line-height: 1.2;
    max-width: 650px;
    margin: 1em;
  
  }
  .reasons {
    font-size: 1em;
    padding: 1em;
  }

  .reason-copy {
    text-align: center;
    padding: 0 1em;
    line-height: 1.2;
    word-spacing: 1.2;
    letter-spacing: 1.2;
    margin: .5em;
    font-size: 1em;
  }

  .scroll-2, .scroll-3, .scroll-4 {
    font-size: .5em;
  }

  .btn-hero {
    font-size: 1em;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: inline;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .5em;
    padding-left: 1.5em;
    position: relative;
    width: 10em;
    margin-right: 1em;
  }

  .btn-hero::before {
    content: "";
    background-image: url("./img/click.svg");
    background-size: contain; /* Ensure image scales correctly */
    background-repeat: no-repeat; /* Prevent image repeat */
    position: absolute;
    top: 50%; /* Center vertically */
    left: 10px; /* Adjust horizontally */
    transform: translateY(-50%); /* Center image vertically */
    width: 25px;
    height: 25px;
    z-index: 1; /* Ensure it’s above other elements within button */
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
  }
  header h1 {
    font-family: nunito; 
    font-size: 1.5em;
  }
}

@media (max-width: 400px) {

  .about-me {
    background-color: #6b5b95;
    border-radius: 10px;
    padding: .5em;
    color: #ffffff;
    font-family: Arial, sans-serif;
    line-height: 1.3;
    max-width: 650px;
    margin: 1em;
    font-size: .75em;
  
  }
  .reasons {
    font-size: .85em;
    padding: .5em;
  }

  .scroll-3 {
    margin-top: 3vh;
    font-size: .5em;
  }

  .btn-hero {
    font-size: 1em;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: inline;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .5em;
    padding-left: 1.5em;
    position: relative;
    width: 10em;
    margin-right: 1em;
  }

  .btn-hero::before {
    content: "";
    background-image: url("./img/click.svg");
    background-size: contain; /* Ensure image scales correctly */
    background-repeat: no-repeat; /* Prevent image repeat */
    position: absolute;
    top: 50%; /* Center vertically */
    left: 10px; /* Adjust horizontally */
    transform: translateY(-50%); /* Center image vertically */
    width: 25px;
    height: 25px;
    z-index: 1; /* Ensure it’s above other elements within button */
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
  }
  header h1 {
    font-size: 1.5em;
  }
}